$white-background: #F1F1F1;
$main-font: "Roboto", sans-serif;
$bold-fontweight: 700;
$white-color: #FFFFFF;
$nonbold-font-weight: 400;
$big-font-size: 20px;
$black-color: #243043;
$gray-color: #8A8787;
$light-gray-color: #818687;